html {
	font-family: sans-serif;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.pinky-finger-header {
	position: static;
	background: #E42565;
	top: 0;
	right: 0;
	width: 100%;
}

.pinky-finger-header .pinky-finger-icon {
	position: relative;
	width: 3em;
	height: 4em;
	margin: 1.0% 0% 0.1% 0.4%;
}

.pinky-finger-header h3  {
	position: relative;
	bottom: 2em;
	left: 2.7em;
	margin: 0% 0.2% 0% 0.2%;
	color: white;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
}

.pinky-finger-header h5 {
	position: relative;
	bottom: 4.4em;
	left: 5.1em;
	margin: 0% 0.2% 0% 0.2%;
	color: white;
	font-size: 0.8em;
}

.pinky-finger-header .pinky-finger-screenshot {
	position: relative;
	height: 34em;
	left: 18em;
	margin: 2% 0% 1% 0%;
}

.pinky-finger-header .pinky-finger-google-play-badge {
	position: relative;
	height: 5em;
	left: 17em;
}

.pinky-finger-features {
	position: static;
	background-color: #FFFFFF;
}

.pinky-finger-how-tos {
	position: static;
}

.pinky-finger-footer {
	background: #E91E63;
	position: static;
	bottom: 0;
	right: 0;
	height: 3.5%;.callout
	width: 100%;
}

.pinky-finger-footer .footer-content {
	position: relative;
	margin: 0.4% 0 0.2% 0.4%;
	color: #FFFFFF;
}
